.content h1 {
  color: #000;
  font-family: Playfair Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 30px;
}
.content h2 {
  color: #272142;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 30px;
}
.content p {
  color: rgba(39, 33, 66, 0.7);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 30px;
}

